.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vw;
    font-family: 'Helvetica Neue';
    border-bottom-color: #0C0E20;
    border-bottom-width: 0.5rem;
    border-bottom-style: solid;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;
    width: 100vw;
    height: 40rem;
    background-color: white;
}

.homeImg {
    height: 35rem;
    padding-left: 4rem;
}

.demoColumn {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 27rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding-right: 5rem;
}

.demoText {
    margin-bottom: 6rem;
    text-align: center;
}

.demoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    font-family: 'Helvetica Neue';
    height: 2.5rem;
    width: 8rem;
    font: 1.5rem 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #0C0E20;
    color: whitesmoke;
    border: 0.3rem solid #0C0E20;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button:hover {
    border: none;
    background-color: #3EC3AC;
    color: #0C0E20;
}

.budget {
    height: 20rem;
    width: 30rem;
    background-color: whitesmoke;
    font-size: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.streak {
    margin-top: 2rem;
    font-size: 2rem;
}

.bruh {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}